version: '3.1'

services:
  wordpress:
    image: wordpress:5.6-php7.3-apache
    restart: always
    ports:
      - 8080:80
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_PASSWORD: smailydev1
    volumes:
      - wordpress:/var/www/html
      - ./:/var/www/html/wp-content/plugins/sendsmaily-wordpress-plugin

  db:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_DATABASE: wordpress
      MYSQL_ROOT_PASSWORD: smailydev1
    volumes:
      - db:/var/lib/mysql
  phpmyadmin:
    depends_on:
      - db
    image: phpmyadmin/phpmyadmin
    restart: always
    ports:
      - '8888:80'
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: smailydev1
volumes:
  wordpress:
  db:
